body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.hideControls {
  display: none;
}

h1 {
  font-family: "Lobster", cursive;
}

/* home screen */
#homePage {

}

#goTutorial, .playTheGame, #playAgain {
  height: 150px;
  display: block;
  background-color: #FFDD97;
  width: 60%;
  margin: auto;
  font-family: "Great Vibes", cursive;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 24px;
}

#goTutorial h4, .playTheGame h4, #playAgain h1 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  margin-top: 25px;
}

/*TUTORIAL PAGE 2*/
#tutorialPage2 li:nth-child(3n+3) {
  color: red;
}

#tutorialPage2 li:nth-child(5n+5) {
  color: blue;
}

#tutorialPage2 li:nth-child(15n+15) {
  color: purple;
}



/*GAME PAGE*/
#gamePage {
  text-align: center;
}


/*/////score bar*/
#scoreBar p {
  display: inline-block;
  width: 30%;
  margin: 0 0 10px 0;
}

/*'main display'*/
#mainDisplay {
  display: inline-block;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 90px;
  padding: 5px;
}

/*/////controls*/
#controls {
  width: 80%;
  margin: 15px auto;
  padding: 0;
}

#numberButton,
#pingButton,
#pongButton,
#pingpongButton {

}

#numberButton {

}

#numberButton img, #pingpongButton img {
  width: 100%;
  margin-bottom: -4px;
  display: inline-block;
  float: left;
}

#middleButtons div img {
  width: 50%;
  margin-bottom: -4px;
  display: inline-block;
  float: left;
}

#pingButton {

}

#pongButton {

}

#pingpongButton {


}

/* end screen */
#endScreen {
  font-family: "Jura", sans-serif;
}
