body {
  margin: 0;
}

.hidden {
  display: none;
}

.hideControls {
  display: none;
}

/*TUTORIAL PAGE 2*/
#tutorialPage2 li:nth-child(3n+3) {
  color: red;
}

#tutorialPage2 li:nth-child(5n+5) {
  color: blue;
}

#tutorialPage2 li:nth-child(15n+15) {
  color: purple;
}



/*GAME PAGE*/
#gamePage {
  text-align: center;
}


/*/////score bar*/
#scoreBar p {
  display: inline-block;
  width: 30%;
  margin: 0 0 10px 0;
}


/*/////controls*/
#controls {
  margin: auto;
}

#numberButton,
#pingButton,
#pongButton,
#pingpongButton {
  background-color: #8876BA;
  border: 2px solid #000;
}

#numberButton {
  width: 90%;
  height: 100px;
  margin: auto;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
}

#numberButton h4 {
  margin: 0;

}

#middleButtons {
  width: 90%;
  margin: auto;
}

#pingButton {
  width: 49%;
  display: inline-block;
  float: left;
  margin: 0;
  border: none;
  border-right: 1px solid #000;
}

#pongButton {
  width: 49%;
  display: inline-block;
  float: left;
  margin: 0;
  border: none;
  border-left: 1px solid #000;
}

#pingpongButton {
  clear: left;
  width: 90%;
  margin: auto;

}
